<section class="bg-gradient-to-br from-cyan-400 to-purple-500 py-12 px-8">
  <div
    class="mx-auto grid max-w-5xl grid-cols-1 items-center gap-12 py-6 md:grid-cols-2 md:py-12"
  >
    <img src="/assets/Learning-bro.png  " alt="" class="max-h-[32rem]" />
    <div>
      <h1 class="text-4xl font-bold leading-[1.1] text-white md:text-5xl">
        About Myself
      </h1>
      <p class="pt-4 font-light text-lg leading-[1.5] text-white">
        My curiosity for learning new technologies keeps me constantly evolving
        in the tech world.
      </p>
    </div>
  </div>
</section>
